@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --main-gradient: linear-gradient(
      to right,
      theme('colors.primary.500'),
      #ef4444
    );
    --main-gradient1: linear-gradient(
      to bottom right,  /* 或者用度数 '135deg' 也可以 */
      theme('colors.primary.300'),
      theme('colors.primary.600')
    ); 
  }
}

 

@layer components {
  .prose h2,
  .prose h3 {
    position: relative;
    padding-bottom: 0.75rem;
  }

  .prose h2::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0.2rem;
    width: 8rem;
    border-radius: 9999px;
    background: var(--main-gradient);
  }

  .prose h3::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0.2rem;
    width: 4rem;
    border-radius: 9999px;
    background: var(--main-gradient);
  }

  .article-title-wrapper {
    position: relative;
    padding-bottom: 2rem;
  }

  .article-title-wrapper::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0.20rem;
    width: 16rem;
    border-radius: 9999px;
    background: var(--main-gradient);
  }
}
